body {
    margin: 0px;
}

.page {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/*Header Section*/
.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;

}

.header-strip {
    display: flex;
    justify-content: space-between;
    padding: 5px, 0px, 5px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

a {
    text-decoration: none;
    color:gray
}

.links {
    display: flex;
    gap: 10px;
}

.header-content {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
}

.first-half {
    display: flex;
    flex-direction: column;
    display: flex;
    flex: 1;
    gap: 5px;
     
}

.first-section-title {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    
}

.first-section-content {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
      
}

.header-image {
    display: flex;
    flex-grow: 1;
    
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    text-align: center;
    font-size: 12px;
    border-radius: 30px;
    padding: 10px 40px 10px 40px;
}

/* Second Section */
.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.second-section-title {
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}

.second-section-content {
    display: flex;
    align-items: center;
    gap: 150px;
    
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 100px;
}

.image {
    border:5px solid #3882f6 ;
    margin: auto;
}

.subtext {
    text-align: center;
}

/* Third Section */ 

.third-section {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.author {
    font-size: 24px;
    align-self: flex-end;
    font-weight: bolder;
}

/* Forth Section */ 

.forth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #3882f6;
    padding: 25px 40px 25px 40px;
    gap: 25px;
    margin: auto;
    color: #e5e7eb;
    

}

.forth-sign-up-button button{
    border: 1px solid white;
}

/* Footer Section */ 

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 20px;
    color: #e5e7eb;
}
